*{
    margin: 0;
    padding: 0;
}
#body{
    background-color: #000;
}
#oyun{
    width: 800px;
    height: 200px; 
    border: 1px solid #000;
    background: #fff;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
}
#trex{
    position: absolute;
    width: 39px;
    height: 42px;
    background: url(trex\ \(1\).png);
    bottom: 0;
}
.trex-animated{
    animation:trex .5s linear;
}
#kaktus{
    width: 23px;
    height: 46px;
    background: url(kaktus.png);
    bottom:0;
    left: 775;
}
.kaktus-animated{
    animation: kaktus 2s linear infinite;
}

@keyframes kaktus{
    0%{left:775px;}
    100%{left: -40%px;}
}
@keyframes trex{
    0%{bottom:0px;}
    25%{bottom:70px;}
    75%{bottom:70px;}
    100%{bottom:0px;}

    
    
}